/* An asterisk means everything. */
* {
    margin: 0px;
    padding: 0%;
}
body {
    background-color: gold;
    color: black;
    font-size: 18px;
}
/*Use . for a class.*/
.headers {
    font-family: "Press Start 2P";
    color: blue;
}
a{
    color: #3d96b7;
    text-decoration: none;
}
a:hover {
    color: navy;
}
a:visited:hover {
    color: hotpink
}
a:visited {
    color: purple;
}
#newsletform {
    float: right;
}
.articleDate {
    font-size: 16px;
    color: navy;
}
/* Use # for an id. */
#newslettersub {
    background-color: #00DA00;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
}
#newslettersub h2 {
    color: #0101ff;
}
p {
    font-family: "Consolas";
}
/*.relatedArticlesFlex {
    display: flex;
}*/
.relatedArticlesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#one {
    /* The first value is where it starts on the grid,
    and the second value is how much it spans. */
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}
#two {
    grid-column: 1 / span 1;
    grid-row: 2/ span 1;
}
#three {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
/* main header navigation */
header nav menu li {
    list-style: none;
}
header nav {
    display: flex;
    justify-content: space-around;
}
header nav menu#main-menu{
    display:flex;
}
header nav menu.dropdown {
    display: none;
}
header nav .dropdown-trigger:hover menu.dropdown{
    background-color: red;
    display: block;
    position: absolute;
}
nav button{
    background-color: white;
    border: 1;
    font-family: "Consolas";
    color: red;
}
#mobile-menu-button {
    display: none;
}
/* Media query time! */
@media (max-width: 500px) {
    p {
        font-family: "Verdana";
    }
}
@media (max-width: 640px) {
    #mobile-menu-button {
        display: block;
    }
    header nav menu#main-menu{
        display:none;
    }
}